footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

tr:nth-child(n):hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.card {
    max-height: 450px;
}

.btn-del {
    margin-right: 1em;
}
