<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xml:lang="en"
      lang="en">
<h:head>
    <title>Todo Demo | OPEN KNOWLEDGE GmbH</title>
    <link rel="icon" type="image/png" href="https://www.openknowledge.de//wp-content/themes/okw/public/favicon/favicon-32x32.png"/>
    <h:outputStylesheet library="css" name="style.css"/>
    <h:outputStylesheet library="css" name="custom.css"/>
</h:head>
<body>
<header>
    <div class="topbar">
        <div class="container">
            <div class="topbar__content">
                <div class="topbar__item">
                    <label class="search-form">
                        <h:graphicImage class="search-form__pictogram search-form__pictogram--open search-form--toggle"
                                        value="https://www.openknowledge.de//wp-content/themes/okw/public/images/pikto-lupe.svg"
                                        width="26"
                                        height="26"/>
                        <h:graphicImage class="search-form__pictogram search-form__pictogram--close"
                                        value="https://www.openknowledge.de//wp-content/themes/okw/public/images/pikto-cross.svg"
                                        width="26"
                                        height="26"/>

                        <span class="search-form__control">
                          <h:form role="search" method="get" action="https://www.openknowledge.de/">
                            <h:inputText type="search" class="input" name="s"/>
                          </h:form>
                        </span>
                    </label>
                </div>

                <div class="topbar-item">
                    <a href="tel:+49 441 4082-0" class="icon-link icon-link--shrink">
                        <i class="fas fa-phone"/>
                        <span>+49 441 4082-0</span>
                    </a>
                </div>

                <div class="topbar-item">
                    <a href="mailto:kontakt@openknowledge.de" class="icon-link icon-link--shrink">
                        <i class="fas fa-envelope"/>
                        <span>kontakt@openknowledge.de</span>
                    </a>
                </div>

                <div class="topbar-item w-12">
                    <div class="search-form search-form--mobile">
                        <img alt="" class="search-form__pictogram search-form__pictogram--open"
                             src="https://www.openknowledge.de//wp-content/themes/okw/public/images/pikto-lupe.svg"
                             width="26"
                             height="26"/>
                        <span class="search-form__control">
                            <h:form role="search" method="get" action="https://www.openknowledge.de/">
                                <h:inputText type="search" class="input" name="s"/>
                            </h:form>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="nav">
        <div class="container">
            <div class="nav__content">
                <a href="#" class="nav__logo">
                    <img width="190" height="86"
                         src="https://www.openknowledge.de//wp-content/uploads/2017/02/OPK_Logo_waag_kl_RGB-e1486736462466-190x86.png"
                         class="attachment-page-logo size-page-logo" alt=""
                         srcset="https://www.openknowledge.de//wp-content/uploads/2017/02/OPK_Logo_waag_kl_RGB-e1486736462466-190x86.png 190w, https://www.openknowledge.de//wp-content/uploads/2017/02/OPK_Logo_waag_kl_RGB-e1486736462466-300x136.png 300w, https://www.openknowledge.de//wp-content/uploads/2017/02/OPK_Logo_waag_kl_RGB-e1486736462466-768x347.png 768w, https://www.openknowledge.de//wp-content/uploads/2017/02/OPK_Logo_waag_kl_RGB-e1486736462466-1024x463.png 1024w, https://www.openknowledge.de//wp-content/uploads/2017/02/OPK_Logo_waag_kl_RGB-e1486736462466-128x58.png 128w, https://www.openknowledge.de//wp-content/uploads/2017/02/OPK_Logo_waag_kl_RGB-e1486736462466-770x348.png 770w"
                         sizes="(max-width: 190px) 100vw, 190px"/>
                </a>

                <div class="nav__menu">
                    <span class="nav__menu-bar"/>
                    <span class="nav__menu-bar"/>
                    <span class="nav__menu-bar"/>
                </div>

                <div class="nav__links">
                    <ul class="nav__links-content">
                        <li class="nav__link">
                            <a href="#">Expertise</a>
                        </li>

                        <li class="nav__link">
                            <a href="#">Projekte</a>
                        </li>

                        <li class="nav__link">
                            <a href="#">Karriere</a>
                        </li>

                        <li class="nav__link">
                            <a href="#">Wissen</a>
                        </li>

                        <li class="nav__link">
                            <a href="#">Blog</a>
                        </li>

                        <li class="nav__link">
                            <a href="#">Events</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row justify-center">
        <div class="col w-12 md:w-8">
            <h:form id="todoTable">
                <h:dataTable value="#{todoController.todos}" var="todo">
                    <h:column>
                        <f:facet name="header">Done</f:facet>
                        <h:selectBooleanCheckbox value="#{todo.state}" disabled="#{not todo.editable}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Title</f:facet>
                        <h:outputText value="#{todo.name}" rendered="#{not todo.editable}"
                                      style="#{todo.state ? 'text-decoration:line-through;':'fontstyle:normal;'}"/>
                        <h:inputText value="#{todo.name}" rendered="#{todo.editable}" width="2"
                                     style="#{todo.state ? 'text-decoration:line-through;':'fontstyle:normal;'}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Description</f:facet>
                        <h:outputText value="#{todo.description}" rendered="#{not todo.editable}"
                                      style="#{todo.state ? 'text-decoration:line-through;':'fontstyle:normal;'}"/>
                        <h:inputText value="#{todo.description}" rendered="#{todo.editable}" size="10"
                                     style="#{todo.state ? 'text-decoration:line-through;':'fontstyle:normal;'}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Due</f:facet>
                        <h:outputText value="#{todo.dueDate}" rendered="#{not todo.editable}"
                                      style="#{todo.state ? 'text-decoration:line-through;':'fontstyle:normal;'}">
                            <f:convertDateTime pattern="dd.MM.yyyy"/>
                        </h:outputText>
                        <p:datePicker value="#{todo.dueDate}" rendered="#{todo.editable}" size="10"
                                      style="#{todo.state ? 'text-decoration:line-through;':'fontstyle:normal;'}" showIcon="true"/>
                    </h:column>
                    <h:column>
                        <h:commandButton styleClass="btn btn--magenta btn-del" value="Delete"
                                         action="#{todoController.delete(todo.id)}"/>
                        <h:commandButton styleClass="btn btn--blue" value="Edit" rendered="#{not todo.editable}"
                                         action="#{todoController.edit(todo)}"/>
                        <h:commandButton styleClass="btn btn--stone-darker" value="Save"
                                         action="#{todoController.saveAction(todo)}"
                                         rendered="#{todo.editable}"/>
                    </h:column>
                </h:dataTable>
            </h:form>
        </div>
        <div class="card col w-12 md:w-4">
            <div class="card__content card__content--event">
                <div class="card__header">
                    <div class="section-header">
                        <h3 class="section-header__primary">Add new Todo</h3>
                    </div>
                </div>
                <h:form>
                    <div class="card__body">
                        <h:outputLabel>Title</h:outputLabel>
                        <h:inputText id="name" value="#{todoController.baseTodoDTO.name}" required="true"
                                     styleClass="input"/>
                        <h:outputLabel>Description</h:outputLabel>
                        <h:inputTextarea id="description" value="#{todoController.baseTodoDTO.description}"
                                         styleClass="input"/>
                        <h:outputLabel>Due Date</h:outputLabel>
                        <p:datePicker id="dueDate" value="#{todoController.baseTodoDTO.dueDate}" required="true"
                                      styleClass="input" showIcon="true"/>
                    </div>
                    <div class="card__footer">
                        <h:commandButton styleClass="btn" value="Add" action="#{todoController.add}">
                            <f:ajax execute="@form" render=":todoTable @form"/>
                        </h:commandButton>
                    </div>
                </h:form>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="grid">
            <div class="row justify-end">
                <div class="col w-12">
                    <ul class="footer__menu">
                        <li><a href="https://www.openknowledge.de/impressum/">Impressum</a></li>
                        <li><a href="https://www.openknowledge.de/datenschutz/">Datenschutz</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<h:outputScript library="js" name="script.js"/>
</body>
</html>
